.chat-content .reply {
    border-top: 1px solid #eaeaea;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    box-sizing: border-box;
}
.chat-content .reply textarea {
    height: 80px;
    padding: 10px 0;
    margin: 0 15px 0 0;
    flex: 1;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    outline: none;
    display: inline-block;
    transition: none!important;
}
.chat-content .reply button {
    background-color: #2a41e8;
    top: 0;
    height: 44px;
    padding: 0 25px;
    line-height: 24px;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(102,103,107,.15);
    flex: auto;
    flex-grow: 0;
    align-self: center;
}