* {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {  
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-container-inner {
    display: flex;
    min-width: 960px;    
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,.06);
}

.chat-inbox {
    width: 340px;
    max-width: 340px;
    border-right: 1px solid #eaeaea;
}

.search-messages {
    padding: 22px 30px;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-input {
    position: relative;
    width: 100%;
}
.search-input input {
    background-color: #f6f6f6;
    height: 38px;
    padding: 14px 40px 14px 14px;
    outline: none;
    font-size: 14px;
    width: 100%;
}
.search-input i {
    position: absolute;
    top: calc(50% - 7px);
    right: 15px;
    color: #a0a0a0;
    font-size: 14px;
}

.message a {
    display: flex;
    padding: 25px;
    align-items: center;
    border-left: 3px solid #fff;
    transition: .3s;
}
.message:nth-child(even) {
    background-color: #fafafa;
}
.message a:hover {
    border-left-color: #2a41e8;
}
.message.active a {
    border-left-color: #2a41e8;
    background-color: #fafafa;
}
.message img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
.message .message-info {
    color: #666;
    width: 100%;
}
.message .message-info .headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3px;
}
.message .message-info .headline h5 {
    font-weight: 600;
    color: #333;
    font-size: 14px;
}
.message .message-info .headline span {
    font-size: 12px;
}
.message .message-info p {
    height: 26px;
    max-width: 210px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    color: #888;
}

.chat-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.chat-content .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 30px;
    border-bottom: 1px solid #eaeaea;
    height: 83px;
}
.chat-content .headline a {
    font-size: 12px;
    color: #666;
}
.chat-content .headline a:hover {
    color: #ee3535;
}
.chat-content .headline a i {
    margin-right: 3px;
}
.chat-content .inner {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.chat-content .inner .time-sign {
    text-align: center;
    display: block;
    position: relative;
    margin-bottom: 25px;
}
.chat-content .inner .time-sign:before {
    content: "";
    height: 1px;
    background-color: #eaeaea;
    display: block;
    max-width: 30%;
    margin: 0 auto;
    position: relative;
    top: 14px;
    z-index: 10;
}
.chat-content .inner .time-sign span {
    background-color: #fff;
    font-size: 13px;
    color: #888;
    z-index: 11;
    position: relative;
    padding: 0 10px;
}
.chat-content .inner .bubble {
    margin-bottom: 25px;
    display: block;
    position: relative;
}
.chat-content .inner .bubble .text {
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 12px 18px;
    position: relative;
    display: inline-block;
    float: left;
    max-width: 583px;
    line-height: 25px;
}
.chat-content .inner .bubble.me .text {
    background-color: #2a41e8;
    position: relative;
    color: #fff;
    float: right;
}
.bubble .text:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #f4f4f4;
    left: -6px;
    right: auto;
    top: 19px;
    position: absolute;
}
.bubble.me .text:before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #66676b;
    border-right: none;
    right: -6px;
    left: auto;
}
.bubble.me .text:before {
    border-left: 6px solid #2a41e8;
}

.chat-content .inner .bubble.me .text p {
    font-size: 15px;
    line-height: 25px;
}

.chat-content .reply {
    border-top: 1px solid #eaeaea;
    padding: 30px;
    display: flex;
    align-items: flex-start;
    margin-top: 15px;
    box-sizing: border-box;
}
.chat-content .reply textarea {
    height: 80px;
    padding: 10px 0;
    margin: 0 15px 0 0;
    flex: 1;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    box-shadow: none;
    border: none;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
    outline: none;
    display: inline-block;
    transition: none!important;
}
.chat-content .reply button.button {
    background-color: #2a41e8;
    top: 0;
    height: 44px;
    padding: 0 25px;
    line-height: 24px;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all .2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(102,103,107,.15);
    flex: auto;
    flex-grow: 0;
    align-self: center;
}